In [14]:

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Ref : Do not delete https://www.dataquest.io/blog/jupyter-notebook-tutorial/

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/pssguy/fortune500/master/fortune500.csv')

In [11]:
df.head()

,lon,lat,company,location,industry,state,city
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino

In [12]:
df.tail()

,lon,lat,company,location,industry,state,city
995,-73.7629,41.0340,Universal American,"White Plains, NY",Health Care: Insurance and Managed Care,NY,White Plains
996,-87.9790,41.9634,AAR,"Wood Dale, IL",Aerospace and Defense,IL,Wood Dale
997,-74.7524,41.1465,Selective Insurance Group,"Branchville, NJ",Insurance: Property and Casualty (Stock),NJ,Branchville
998,-73.5387,41.0534,Gartner,"Stamford, CT",Information Technology Services,CT,Stamford
999,-74.0059,40.7128,E*Trade Financial,"New York, NY",Securities,NY,New York